.block
{
background-color:red;	
height:50px;
width:50px;
}
.toggle
{
	font-size:200%;
	font-weight:bold;
	text-decoration:none;
	color: green;
}
.animation-complete{
	padding:20px;
	width: 20%;
	background-color:black;
	color:green;
	border:1px solid red;
	display: none;

}